<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">

    <servlet>
        <servlet-name>CargoController</servlet-name>
        <servlet-class>controller.CargoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AfastamentoController</servlet-name>
        <servlet-class>controller.AfastamentoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartaoController</servlet-name>
        <servlet-class>controller.CartaoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ContatoController</servlet-name>
        <servlet-class>controller.ContatoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DepartamentoController</servlet-name>
        <servlet-class>controller.DepartamentoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FuncionarioController</servlet-name>
        <servlet-class>controller.FuncionarioController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HorarioController</servlet-name>
        <servlet-class>controller.HorarioController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InformeController</servlet-name>
        <servlet-class>controller.InformeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UsuarioController</servlet-name>
        <servlet-class>controller.UsuarioController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PontoController</servlet-name>
        <servlet-class>controller.PontoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RelatorioAfastFuncController</servlet-name>
        <servlet-class>relatorio.RelatorioAfastFuncController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RelatorioCargDeptController</servlet-name>
        <servlet-class>relatorio.RelatorioCargDeptController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RelatorioCargFuncController</servlet-name>
        <servlet-class>relatorio.RelatorioCargFuncController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RelatorioCartaoController</servlet-name>
        <servlet-class>relatorio.RelatorioCartaoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RelatorioInformeController</servlet-name>
        <servlet-class>relatorio.RelatorioInformeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RelatorioHorarioController</servlet-name>
        <servlet-class>relatorio.RelatorioHorarioController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RelatorioCfuncionarioController</servlet-name>
        <servlet-class>relatorio.RelatorioCfuncionarioController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RelatorioFuncParamController</servlet-name>
        <servlet-class>relatorio.RelatorioFuncParamController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RelatorioCartaoParamController</servlet-name>
        <servlet-class>relatorio.RelatorioCartaoParamController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RelatorioAfastamentoParamController</servlet-name>
        <servlet-class>relatorio.RelatorioAfastamentoParamController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RelatorioInformeParamController</servlet-name>
        <servlet-class>relatorio.RelatorioInformeParamController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RelatorioHorarioParamController</servlet-name>
        <servlet-class>relatorio.RelatorioHorarioParamController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AfastamentoController</servlet-name>
        <url-pattern>/AfastamentoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CargoController</servlet-name>
        <url-pattern>/CargoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartaoController</servlet-name>
        <url-pattern>/CartaoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ContatoController</servlet-name>
        <url-pattern>/ContatoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DepartamentoController</servlet-name>
        <url-pattern>/DepartamentoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FuncionarioController</servlet-name>
        <url-pattern>/FuncionarioController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HorarioController</servlet-name>
        <url-pattern>/HorarioController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InformeController</servlet-name>
        <url-pattern>/InformeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsuarioController</servlet-name>
        <url-pattern>/UsuarioController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PontoController</servlet-name>
        <url-pattern>/PontoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RelatorioAfastFuncController</servlet-name>
        <url-pattern>/RelatorioAfastFuncController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RelatorioCargDeptController</servlet-name>
        <url-pattern>/RelatorioCargDeptController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RelatorioCargFuncController</servlet-name>
        <url-pattern>/RelatorioCargFuncController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RelatorioCartaoController</servlet-name>
        <url-pattern>/RelatorioCartaoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RelatorioInformeController</servlet-name>
        <url-pattern>/RelatorioInformeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RelatorioHorarioController</servlet-name>
        <url-pattern>/RelatorioHorarioController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RelatorioCfuncionarioController</servlet-name>
        <url-pattern>/RelatorioCfuncionarioController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RelatorioFuncParamController</servlet-name>
        <url-pattern>/RelatorioFuncParamController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RelatorioCartaoParamController</servlet-name>
        <url-pattern>/RelatorioCartaoParamController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RelatorioAfastamentoParamController</servlet-name>
        <url-pattern>/RelatorioAfastamentoParamController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RelatorioInformeParamController</servlet-name>
        <url-pattern>/RelatorioInformeParamController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RelatorioHorarioParamController</servlet-name>
        <url-pattern>/RelatorioHorarioParamController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
