<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>PesquisaAfastamentoController</servlet-name>
        <servlet-class>controller.PesquisaAfastamentoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisaCargoController</servlet-name>
        <servlet-class>controller.PesquisaCargoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisaDepartamentoController</servlet-name>
        <servlet-class>controller.PesquisaDepartamentoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisaCartaoController</servlet-name>
        <servlet-class>controller.PesquisaCartaoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisaContatoController</servlet-name>
        <servlet-class>controller.PesquisaContatoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisaFuncionarioController</servlet-name>
        <servlet-class>controller.PesquisaFuncionarioController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisaFeriasController</servlet-name>
        <servlet-class>controller.PesquisaFeriasController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisaInformeController</servlet-name>
        <servlet-class>controller.PesquisaInformeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisaTurnoController</servlet-name>
        <servlet-class>controller.PesquisaTurnoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisaUsuarioController</servlet-name>
        <servlet-class>controller.PesquisaUsuarioController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterCargoController</servlet-name>
        <servlet-class>controller.ManterCargoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterAfastamentoController</servlet-name>
        <servlet-class>controller.ManterAfastamentoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterCartaoController</servlet-name>
        <servlet-class>controller.ManterCartaoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterContatoController</servlet-name>
        <servlet-class>controller.ManterContatoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterDepartamentoController</servlet-name>
        <servlet-class>controller.ManterDepartamentoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterFuncionarioController</servlet-name>
        <servlet-class>controller.ManterFuncionarioController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterInformeController</servlet-name>
        <servlet-class>controller.ManterInformeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterUsuarioController</servlet-name>
        <servlet-class>controller.ManterUsuarioController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisaHorarioController</servlet-name>
        <servlet-class>controller.PesquisaHorarioController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterHorarioController</servlet-name>
        <servlet-class>controller.ManterHorarioController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PontoController</servlet-name>
        <servlet-class>controller.PontoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RelatorioAfastFuncController</servlet-name>
        <servlet-class>relatorio.RelatorioAfastFuncController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RelatorioCargDeptController</servlet-name>
        <servlet-class>relatorio.RelatorioCargDeptController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RelatorioCargFuncController</servlet-name>
        <servlet-class>relatorio.RelatorioCargFuncController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RelatorioCartaoController</servlet-name>
        <servlet-class>relatorio.RelatorioCartaoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RelatorioInformeController</servlet-name>
        <servlet-class>relatorio.RelatorioInformeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RelatorioHorarioController</servlet-name>
        <servlet-class>relatorio.RelatorioHorarioController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RelatorioCfuncionarioController</servlet-name>
        <servlet-class>relatorio.RelatorioCfuncionarioController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RelatorioFuncParamController</servlet-name>
        <servlet-class>relatorio.RelatorioFuncParamController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RelatorioCartaoParamController</servlet-name>
        <servlet-class>relatorio.RelatorioCartaoParamController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RelatorioAfastamentoParamController</servlet-name>
        <servlet-class>relatorio.RelatorioAfastamentoParamController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RelatorioInformeParamController</servlet-name>
        <servlet-class>relatorio.RelatorioInformeParamController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RelatorioHorarioParamController</servlet-name>
        <servlet-class>relatorio.RelatorioHorarioParamController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PesquisaAfastamentoController</servlet-name>
        <url-pattern>/PesquisaAfastamentoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisaCargoController</servlet-name>
        <url-pattern>/PesquisaCargoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisaDepartamentoController</servlet-name>
        <url-pattern>/PesquisaDepartamentoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisaCartaoController</servlet-name>
        <url-pattern>/PesquisaCartaoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisaContatoController</servlet-name>
        <url-pattern>/PesquisaContatoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisaFuncionarioController</servlet-name>
        <url-pattern>/PesquisaFuncionarioController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisaFeriasController</servlet-name>
        <url-pattern>/PesquisaFeriasController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisaInformeController</servlet-name>
        <url-pattern>/PesquisaInformeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisaTurnoController</servlet-name>
        <url-pattern>/PesquisaTurnoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisaUsuarioController</servlet-name>
        <url-pattern>/PesquisaUsuarioController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterCargoController</servlet-name>
        <url-pattern>/ManterCargoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterAfastamentoController</servlet-name>
        <url-pattern>/ManterAfastamentoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterCartaoController</servlet-name>
        <url-pattern>/ManterCartaoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterContatoController</servlet-name>
        <url-pattern>/ManterContatoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterDepartamentoController</servlet-name>
        <url-pattern>/ManterDepartamentoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterFuncionarioController</servlet-name>
        <url-pattern>/ManterFuncionarioController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterInformeController</servlet-name>
        <url-pattern>/ManterInformeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterUsuarioController</servlet-name>
        <url-pattern>/ManterUsuarioController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisaHorarioController</servlet-name>
        <url-pattern>/PesquisaHorarioController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterHorarioController</servlet-name>
        <url-pattern>/ManterHorarioController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PontoController</servlet-name>
        <url-pattern>/PontoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RelatorioAfastFuncController</servlet-name>
        <url-pattern>/RelatorioAfastFuncController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RelatorioCargDeptController</servlet-name>
        <url-pattern>/RelatorioCargDeptController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RelatorioCargFuncController</servlet-name>
        <url-pattern>/RelatorioCargFuncController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RelatorioCartaoController</servlet-name>
        <url-pattern>/RelatorioCartaoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RelatorioInformeController</servlet-name>
        <url-pattern>/RelatorioInformeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RelatorioHorarioController</servlet-name>
        <url-pattern>/RelatorioHorarioController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RelatorioCfuncionarioController</servlet-name>
        <url-pattern>/RelatorioCfuncionarioController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RelatorioFuncParamController</servlet-name>
        <url-pattern>/RelatorioFuncParamController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RelatorioCartaoParamController</servlet-name>
        <url-pattern>/RelatorioCartaoParamController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RelatorioAfastamentoParamController</servlet-name>
        <url-pattern>/RelatorioAfastamentoParamController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RelatorioInformeParamController</servlet-name>
        <url-pattern>/RelatorioInformeParamController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RelatorioHorarioParamController</servlet-name>
        <url-pattern>/RelatorioHorarioParamController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
